@model Your_Money.Models.Lancamento

@{
    ViewData["Title"] = "Detalhar Lançamento";
}

<body style="background-image: url(/blue1.png);margin-left:10px;">
    <form asp-action="Edit">
        <nav>
            <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Index">Lançamentos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalhar Lançamento</li>
            </ol>
        </nav>

        <h2 style="color:darkblue">Detalhar Lançamento</h2>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Tipo" class="control-label"></label></b>
                    <select asp-for="Tipo" class="form-control shadow-sm form-input" aria-label="Disabled input example" disabled asp-items="Html.GetEnumSelectList<Transacao>()"></select>
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Via" class="control-label"></label></b>
                    <select asp-for="Via" class="form-control shadow-sm" aria-label="Disabled input example" disabled asp-items="Html.GetEnumSelectList<Via>()"></select>
                    <span asp-validation-for="Via" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Classificacao" class="control-label"></label></b>
                    <select asp-for="Classificacao" class="form-control shadow-sm" aria-label="Disabled input example" disabled asp-items="Html.GetEnumSelectList<Classificacao>()"></select>
                    <span asp-validation-for="Classificacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Valor" class="control-label"></label></b>
                    <input asp-for="Valor" class="form-control shadow-sm" aria-label="Disabled input example" disabled />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Data" class="control-label"></label></b>
                    <input asp-for="Data" class="form-control shadow-sm" type="date" aria-label="Disabled input example" disabled />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Status" class="control-label"></label></b>
                    <select asp-for="Status" class="form-control shadow-sm" aria-label="Disabled input example" disabled asp-items="Html.GetEnumSelectList<StatusTransacao>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Descricao" class="control-label"></label></b>
                    <input asp-for="Descricao" class="form-control shadow-sm" aria-label="Disabled input example" disabled />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
        </div>

        @if (Model.Parcelamentos.Count > 1)
        {
            <h3 style="color:darkblue">Parcelas</h3>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover @*ml-3 mr-3*@" style="text-align:center;padding-top:20px;background-color:white;">
                        <thead>
                            <tr style="background-color:whitesmoke">
                                <th>
                                    Valor
                                </th>
                                <th>
                                    DataPagamento
                                </th>
                                <th>
                                    DataVencimento
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Parcelamentos != null && Model.Parcelamentos.Count > 0)
                            {
                                @foreach (var item in Model.Parcelamentos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Valor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataPagamento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataVencimento)
                                        </td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <span>Efetivado</span>
                                            }
                                            else
                                            {
                                                <span>Pendente</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Nenhum registro de parcelamento</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </form>
</body>