@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Your_Money.Models.Usuario

    <asp-action action="/Usuarios/EmailEnviado">
    <h2>E-mail enviado</h2>
    <p>Um e-mail foi enviado para o endereço fornecido. Por favor, verifique sua caixa de entrada e siga as instruções para redefinir sua senha.</p>
    </asp-action>
}
