@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Your_Money.Models.Usuario
    <asp-action action="/Usuarios/SenhaRedefinida">
    <h2>Senha Redefinida</h2>
    <p>Sua senha foi redefinida com sucesso.</p>
    </asp-action>
}
