@model Your_Money.Models.Parcelamento

@{
    ViewData["Title"] = "Details";
}

<body style="background-image: url(/blue1.png);margin-left:10px;">

    <nav>
        <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Index">Lançamentos</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Lancamentos" asp-action="Edit" asp-route-id="@Model.LancamentoId">Editar Lançamento</a></li>
            <li class="breadcrumb-item active" aria-current="page">Visualizar Parcela</li>
        </ol>
    </nav>

    <h2 style="color:darkblue">Editar Parcela</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="LancamentoId" />
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Valor" class="control-label"></label></b>
                    <input asp-for="Valor" class="form-control shadow-sm" disabled />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="DataPagamento" class="control-label"></label></b>
                    <input asp-for="DataPagamento" type="date" class="form-control shadow-sm" id="dataPagamento" disabled />
                    <span asp-validation-for="DataPagamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="DataVencimento" class="control-label"></label></b>
                    <input asp-for="DataVencimento" type="date" class="form-control shadow-sm" disabled />
                    <span asp-validation-for="DataVencimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Status" class="control-label"></label></b>
                    <select asp-for="Status" class="form-control shadow-sm" id="status" disabled>
                        <option value="" disabled>Selecione uma opção</option>
                        @if (Model.Status == true)
                        {
                            <option value="false">Pendente</option>
                            <option value="true" selected>Efetivado</option>
                        }
                        else
                        {
                            <option value="false" selected>Pendente</option>
                            <option value="true">Efetivado</option>
                        }
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-controller="Lancamentos" class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.LancamentoId">Voltar</a>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a>
                </div>
            </form>
        </div>
    </div>
</body>