@{
    ViewData["Title"] = "Your Money";
}

<img src="~/capa.png" class="rounded mx-auto d-block" style="width: 100%;" alt="Imagem da Logo">
<p class="text-center mt-3 mb-3" style="padding-left: 25px; padding-right: 25px; font-family: calibri; font-size: 1.2rem;">
    Ajudamos a você controlar seu orçamento, equilibrar suas contas e conseguir ter mais liberdade em suas finanças. Com um sistema completo de controle de receitas e despesas, indicadores, gráficos, alertas e várias ferramentas, você conseguirá ter as informações necessárias para realizar um assertivo controle de suas finanças.
</p>
<div class="row align-items-center" style="background-color: whitesmoke;">
    <div class="col-4">
        <img src="~/homemLaptop.png" width="100%">
    </div>
    <div class="col-8 p-5 mb-3" style="font-family: calibri; font-size: 1.2rem;">
        <div style="color:darkblue"><b>Vantagens</b></div>
        Com a Your Money, você tem de forma fácil e rápido e controle de suas finanças.
        <li>Plataforma Web</li>
        <li>Interface de fácil utilização</li>
        <li>Dados salvos em nuvem</li>
        <li>Privacidade e segurança garantidas</li>
        <hr>
        <div style="color:darkblue"><b>Benefícios da gestão financeira</b></div>
        <li>Reduz seus níveis de ansiedade e estresse</li>
        <li>Construção de metas para alcançar seus sonhos</li>
        <li>Redução do impacto negativo de imprevistos e emergências</li>
        <li>Aumentar, continuamente, o seu patrimônio financeiro</li>
        <br />
        Os primeiros passos de um controle financeiro pessoal consistem em mapear e analisar todas as suas fontes de renda e o destino de suas despesas.Com isso, você pode começar a controlar os gastos, além de mudar seus hábitos financeiros impondondo limites, registrando seus gastos, estabelecendo prioridades e tendo um claro e amplo controle sobre suas finanças. 
    </div>
</div>